<a href="https://colab.research.google.com/github/Muskaurya005/Python/blob/main/Lecture_6(29_06_24)(29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1 , 11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
print(range(0,10))
print(list(range(0,100,5)))
L1=("test",1,2,3)
for i in L1:
   print(i)

range(0, 10)
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
test
1
2
3

In [ ]:
i=0
while i<11:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
city=["A","B","C"]
for i in city:
    print("I love",i)

I love A
I love B
I love C

In [ ]:
for i in range(10):
   print(i)
else:
     print("for loop ended")

0
1
2
3
4
5
6
7
8
9
for loop ended

In [ ]:
for i in range(10):
   print(i)
   if(i==8):

    break
else:
     print("loop ended")

0
1
2
3
4
5
6
7
8

In [ ]:
counter=0
while counter<3:
     print("while loop",counter)
     counter=counter+1
else:
     print("while ended")

while loop 0
while loop 1
while loop 2
while ended

In [ ]:
for i in range (1,11):
   for j in range (1,11):
      m=i*j
      print (m, end=' ')
   print ("Table of ", i)

1 2 3 4 5 6 7 8 9 10 Table of  1
2 4 6 8 10 12 14 16 18 20 Table of  2
3 6 9 12 15 18 21 24 27 30 Table of  3
4 8 12 16 20 24 28 32 36 40 Table of  4
5 10 15 20 25 30 35 40 45 50 Table of  5
6 12 18 24 30 36 42 48 54 60 Table of  6
7 14 21 28 35 42 49 56 63 70 Table of  7
8 16 24 32 40 48 56 64 72 80 Table of  8
9 18 27 36 45 54 63 72 81 90 Table of  9
10 20 30 40 50 60 70 80 90 100 Table of  10

In [ ]:
a=int(input("enter a number: "))
for i in range(1,11):
   print(a, "×",i,"=",a*i)

enter a number: 8
8 × 1 = 8
8 × 2 = 16
8 × 3 = 24
8 × 4 = 32
8 × 5 = 40
8 × 6 = 48
8 × 7 = 56
8 × 8 = 64
8 × 9 = 72
8 × 10 = 80

In [ ]:
a=int(input("Enter a number: "))
if(a>=10):
    for i in range(1,11):
       print(a, "×",i,"=",a*i)

else:
     print("Enter the number<11")

In [ ]:
a=int(input("enter a number: "))
i=1
while i<11:
     print(a, "×",i,"=",a*i)
     i=i+1

enter a number: 3
3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27
3 × 10 = 30