<a href="https://colab.research.google.com/github/Muskaurya005/Python/blob/main/Lecture6(29_06_24)(29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1 , 11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
print(range(0,10))
print(list(range(0,100,5)))
L1=("test",1,2,3)
for i in L1:
   print(i)

range(0, 10)
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
test
1
2
3

In [ ]:
i=0
while i<11:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
city=["A","B","C"]
for i in city:
    print("I love",i)

I love A
I love B
I love C

In [ ]:
for i in range(10):
   print(i)
else:
     print("for loop ended")

0
1
2
3
4
5
6
7
8
9
for loop ended

In [ ]:
for i in range(10):
   print(i)
   if(i==8):
      print("Break loop")
      break
   else:
     print("loop ended")

0
loop ended
1
loop ended
2
loop ended
3
loop ended
4
loop ended
5
loop ended
6
loop ended
7
loop ended
8
Break loop

In [ ]:
counter=0
while counter<3:
     print("while loop",counter)
     counter=counter+1
else:
     print("while ended")

while loop 0
while loop 1
while loop 2
while ended

In [ ]:
a=int(input("enter a number: "))
for i in range(1,11):
   print(a, "*",i,"=",a*i)

enter a number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
a=int(input("enter a number: "))
i=1
while i<11:
   print(a, "*",i,"=",a*i)
   i=i+1

enter a number: 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
a=int(input("Enter number: "))
if a<=10:
 i=1
 while i<11:
  print(a, "*",i, "=", a*i)
  i=i+1
else:
  print("Enter number between 1 to 10")

Enter number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70